*{
    margin: 0px;
    padding: 0px;
}

body{
    background: black;
    font-family: sans-serif
}

#main{
    max-width: 1100px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
    box-sizing: border-box;
}

/* ----------------------------------------------------------*/
#container_buttons{
    display: flex;
    justify-content: left;
}
.button{
    background: None;
    font-size: 18px;
    border: None;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button_selected{
    background: rgb(34, 34, 53);
    border-top: 1px solid rgb(0, 187, 255);
    font-family: 22px;
}
.button_not_selected{
    background: rgb(32, 31, 31);
    font-family: 18px;
}
